<section class="hero">
  <div class="heroDiv">
<div class="hero-content">
  <h1>Paws and Pages, Perfectly Aligned</h1>
  <p>Curl up with your next read — and track every purr-fect book in one cozy space.</p>
  <a routerLink="/signup" class="cta-button">Start Cataloging</a>
</div>
<div class="hero-image">
  <img src="assets/svg/imagem_gato.svg" alt="Cat reading a book on a cozy couch">
</div>
</div>

    <div class="imagebackground">
      <img src="assets/svg/paw.svg" alt="">
    </div>

      <div class="imagebackground2">
        <img src="assets/svg/paw.svg" alt="">
      </div>
</section>