<section class="hero">
  <div class="heroDiv">
<div class="hero-content">
  <h1>Patas e Páginas, Perfeitamente Alinhadas</h1>
  <p>Enrole-se com seu próximo livro e catalogue cada obra <em>miau-ravilhosa</em> num cantinho aconchegante.</p>
  <a routerLink="/signup" class="cta-button">Comece a Catalogar</a>
</div>
<div class="hero-image">
  <img src="assets/svg/imagem_gato.svg" alt="Cat reading a book on a cozy couch">
</div>
</div>

    <div class="imagebackground">
      <img src="assets/svg/paw.svg" alt="">
    </div>

      <div class="imagebackground2">
        <img src="assets/svg/paw.svg" alt="">
      </div>
</section>