<div class="dashboard-container">
  <!-- Menu Lateral -->
  <app-sidebar>

  </app-sidebar>


  <!-- Conteúdo Principal -->
  <div class="main-content">
    <!-- Cabeçalho -->
    <app-header>

    </app-header>
    <!-- Carrossel Principal -->
    <section class="featured-books">
      <h2>Livros do Acervo</h2>
      <!-- Filtros por Categoria -->
      <div class="category-filters">
        <button
          class="category-btn"
          [class.active]="selectedCategory === ''"
          (click)="filterByCategory('')"
        >
          Todos
        </button>
        <button
          *ngFor="let category of categories"
          class="category-btn"
          [class.active]="selectedCategory === category"
          (click)="filterByCategory(category)"
        >
          {{ category }}
        </button>
      </div>

      <div class="books-grid">
        <div class="books-row" *ngIf="paginatedBooks[0]">
          <div class="book-card" *ngFor="let book of paginatedBooks[0]">
            <div class="book-image-container">
              <img [src]="book.capa" [alt]="book.titulo">
            </div>
            <div class="book-info">
              <h3>{{book.titulo}}</h3>
              <p class="author">{{book.autores}}</p>
              <p class="description">
                {{ (book.descricao || '') | slice:0:100 }}
                {{ (book.descricao || '').length > 100 ? '...' : '' }}
              </p>
              <button class="details-btn"  [routerLink]="['/livro', book.id_livro]"
                      [queryParams]="{estante: 'desejado'}">
                Saber mais <i class="bi bi-chevron-right"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="books-row" *ngIf="paginatedBooks[1]">
          <div class="book-card" *ngFor="let book of paginatedBooks[1]">
            <div class="book-image-container">
              <img [src]="book.capa" [alt]="book.titulo">
            </div>
            <div class="book-info">
              <h3>{{book.titulo}}</h3>
              <p class="author">{{book.autores}}</p>
              <p class="description">
                {{ (book.descricao || '') | slice:0:100 }}
                {{ (book.descricao || '').length > 100 ? '...' : '' }}
              </p>
              <button class="details-btn" [routerLink]="['/livro', book.id_livro]">
                Saber mais <i class="bi bi-chevron-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="pagination-controls">
        <button
          class="pagination-btn"
          (click)="prevPage()"
          [disabled]="currentPage === 1"
        >
          <i class="bi bi-chevron-left"></i> Anterior
        </button>

        <span class="page-info">
      Página {{currentPage}} de {{totalPages}}
    </span>

        <button
          class="pagination-btn"
          (click)="nextPage()"
          [disabled]="currentPage === totalPages"
        >
          Próxima <i class="bi bi-chevron-right"></i>
        </button>
      </div>
    </section>

    <section class="collections">
      <div class="collection" *ngFor="let collection of collections">
        <h3>{{collection.name}}</h3>
        <div class="books-grid">
          <div class="book-item" *ngFor="let book of collection.books">
            <img [src]="book.capa" [alt]="book.titulo">
            <div class="book-meta">
              <span class="title">{{book.titulo }}</span>
              <span class="author">{{book.autores }}</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
