<div class="admin-nav">
  <img src="assets/svg/logo_catalog.svg" class="logo" alt="logo" >


  <div class="admin-bem-vindo">
    <h1>Olá, Admin!</h1>
    <img src="assets/svg/paw.svg" alt="patinha">
    <button class="logout-btn" (click)="logout()">
      <i class="bi bi-box-arrow-right"></i>
    </button>
  </div>

</div>


<div class="admin-container">



  <div class="tabs">
    <button [class.active]="activeTab === 'livros'"        (click)="activeTab='livros'">Livros</button>
    <button [class.active]="activeTab === 'emprestimos'"   (click)="activeTab='emprestimos'">Empréstimos</button>
    <button [class.active]="activeTab === 'usuarios'"      (click)="activeTab='usuarios'">Usuários</button>
    <button [class.active]="activeTab === 'dashboard'" (click)="activeTab='dashboard'">Dashboard</button>



  </div>

  <section *ngIf="activeTab==='livros'" class="tab-content livros-tab">
    <div class="barra-topo">
      <input type="text" placeholder="Buscar por título ou autor"
             [(ngModel)]="termoBusca" (input)="buscarLivros()">

      <button class="primary" (click)="openCreate()">Criar Livro</button>
    </div>


    <h3>Acervo</h3>
    <div class="grid-head">
      <span>Livro</span>
      <span>Categoria</span>
      <span>Publicação</span>
      <span>Editora</span>
      <span>Disponibilidade</span>
      <span>Autor</span>
      <span class="actions-head"></span>
    </div>

    <div *ngFor="let livro of livros" class="grid-row" [class.indisponivel]="!livro.disponibilidade">
      <div class="item">
        <img [src]="livro.capa" alt="capa">
        {{ livro.titulo }}
      </div>

      <div class="categoria">
        <span *ngFor="let tag of (livro.categoria || '').split(',')">
          {{ tag.trim() }}
        </span>
      </div>

      <div class="publicacao">{{ livro.data_publicacao  | date:'longDate' }}</div>

      <div class="editora">{{ livro.editora }}</div>

      <div class="disponibilidade" [class.indisponivel]="!livro.disponibilidade"> {{ livro.disponibilidade ? 'Disponível' : 'Indisponível' }}</div>


      <div class="autor">{{ livro.autores }}</div>

      <div class="actions">
        <i class="bi bi-pencil-square" (click)="openEdit(livro)"></i>
        <i class="bi bi-trash3-fill"   (click)="openDelete(livro)"></i>
      </div>
    </div>
  </section>

  <section *ngIf="activeTab==='emprestimos'" class="tab-content emprestimos-tab">
    <h3>Empréstimos</h3>

    <div class="filters">
      <button [class.active]="filtroAtivo==='todos'"      (click)="carregarTodosEmprestimos()">Todos</button>
      <button [class.active]="filtroAtivo==='atrasados'"  (click)="carregarEmprestimosAtrasados()">Atrasados</button>
      <button [class.active]="filtroAtivo==='devolvidos'"  (click)="carregarEmprestimosDevolvidos()">Devolvidos</button>
      <button [class.active]="filtroAtivo==='em_andamento'"  (click)="carregarEmprestimosEmAndamento()">Em andamento</button>

    </div>

    <div *ngFor="let emp of emprestimos"  class="emp-card" [class.atrasado]="estaAtrasado(emp.dataPrevistaDevolucao)">
      <img class="book" [src]="emp.livro?.capa">
      <div class="emp-body">
        <div class="data-titulo-emp">
        <h4>{{ emp.livro?.titulo }}</h4>
          <p>Data do Empréstimo: {{ emp.dataEmprestimo | date: 'longDate' }}</p>

         <p>Data Prevista de Devolução: {{ emp.dataPrevistaDevolucao | date:'longDate' }}</p>

          <p *ngIf="emp.dataDevolucao">Data de Devolução: {{ emp.dataDevolucao | date: 'longDate'}}</p>
      </div>


        <span class="status" [class.atrasado]="estaAtrasado(emp.dataPrevistaDevolucao)">{{ getMensagemEmprestimo(emp) }}</span>

        <div class="user-badge">
          <img class="avatar" [src]="emp.usuario?.fotoPerfil">
          <p class="user-info-emp">{{ emp.usuario?.name }} • {{ emp.usuario?.email }}</p>
        </div>
      </div>
    </div>
  </section>

  <section *ngIf="activeTab==='usuarios'" class="tab-content usuarios-tab">
    <h3>Usuários</h3>

    <div class="barra-topo">
      <input type="text" placeholder="Buscar usuário..." [(ngModel)]="buscaUsuario" (input)="filtrarUsuarios()">
    </div>

    <div class="user-row"
         *ngFor="let u of usuariosFiltrados"
         [class.banido]="!u.enabled">
      <div class="user-info">
<!--        <div class="cat-bg small"></div>-->
        <img class="avatar-usuarios small" [src]="u?.fotoPerfil">
        <div>
          <strong>{{ u.name }}</strong>
          <span>{{ u.email }}</span>
        </div>
      </div>
      <button class="ghost danger" (click)="openBanirModal(u.email, u.name)" ><i class="bi bi-slash-circle"></i> Banir</button>
    </div>
  </section>


  <section *ngIf="activeTab==='dashboard'" class="tab-content dashboard-tab">
    <h3>Dashboard</h3>

    <div class="dashboard-summary">
      <div class="summary-card">
        <div class="summary-box">
          <h3 class="summary-label">Total de Usuários</h3>
          <p class="summary-value ">{{ totalUsuarios }}</p>

        </div>
      </div>
      <div class="summary-card">
        <h3>Total de Livros</h3>
        <p>{{ totalLivros }}</p>
      </div>
      <div class="summary-card">
        <h3>Empréstimos Ativos</h3>
        <p>{{ emprestimosAtivos }}</p>
      </div>
      <div class="summary-card">
        <h3>Livros Disponíveis</h3>
        <p>{{ livrosDisponiveis }}</p>
      </div>
    </div>

    <div class="dashboard-container">

      <div class="dashboard-card">
        <h4>Livros mais emprestados</h4>
        <ul>
          <li *ngFor="let item of livrosMaisEmprestados">
            <div class="user-badge-dash">
            <img [src]="item.capa" class="capa-livro-dash">
            {{ item.titulo }} ({{ item.quantidade }} empréstimos)
            </div>
          </li>
        </ul>
      </div>

      <div class="dashboard-card">
        <h4> Usuários com mais atrasos</h4>
        <ul>
          <li *ngFor="let user of usuariosMaisAtrasos">

            <div class="user-badge-dash">
            <img [src]="user.fotoPerfil" class="avatar-usuarios">
            {{ user.name }} - {{ user.totalAtrasos }} devoluções atrasadas
            </div>
          </li>
        </ul>
      </div>

      <div class="dashboard-card">
        <h4> Categorias mais populares</h4>
        <ul  *ngFor="let cat of categoriasMaisPopulares">

          <div class="categoria-dash">
            <li style="border: none" >
              {{ cat.categoria }}
            </li>

            <p>  {{ cat.quantidade }} empréstimos</p>
          </div>

          <li></li>
        </ul>
      </div>

    </div>



  </section>


</div>

<div class="modal-overlay" *ngIf="showCreateModal">
  <div class="modal">
    <h2>Novo Livro</h2>

    <form #createForm="ngForm">
      <div class="modal-grid">
        <label>Título*
          <input type="text" [(ngModel)]="modalLivro.titulo"
                 name="titulo" required />
        </label>

        <label>Autor(es)*
          <input type="text" [(ngModel)]="modalLivro.autores"
                 name="autores" required />
        </label>

        <label>Editora
          <input type="text" [(ngModel)]="modalLivro.editora"
                 name="editora" />
        </label>

        <label>Categoria
          <input type="text" [(ngModel)]="modalLivro.categoria"
                 name="categoria" placeholder="ex.: drama, fiction" />
        </label>

        <label>Data publicação*
          <input type="date" [(ngModel)]="modalLivro.data_publicacao"
                 name="data_publicacao" required />
        </label>

        <label>Páginas
          <input type="number" [(ngModel)]="modalLivro.numeroPaginas"
                 name="numeroPaginas" min="1" />
        </label>

        <label>Quantidade
          <input type="number" [(ngModel)]="modalLivro.qtde_livros"
                 name="qtde_livros" min="1" />
        </label>

        <label>Disponibilidade
          <select [(ngModel)]="modalLivro.disponibilidade"
                  name="disponibilidade">
            <option [ngValue]="true">Disponível</option>
            <option [ngValue]="false">Indisponível</option>
          </select>
        </label>

        <label>Capa (URL)
          <input type="text" [(ngModel)]="modalLivro.capa"
                 name="capa" />
        </label>

        <label class="stretch">Descrição
          <textarea rows="8" [(ngModel)]="modalLivro.descricao"
                    name="descricao"></textarea>
        </label>
      </div>

      <div class="modal-actions">
        <button type="submit" class="primary"
                [disabled]="!createForm.valid"
                (click)="confirmCreate()">Salvar</button>

        <button type="button" class="ghost" (click)="closeCreate()">Cancelar</button>

      </div>
    </form>
  </div>
</div>

<div class="modal-overlay" *ngIf="showEditModal">
  <div class="modal">
    <h2>Editar Livro</h2>

    <form #editForm="ngForm">
      <div class="modal-grid">
        <label>Título*
          <input type="text" [(ngModel)]="modalLivro.titulo"
                 name="tituloEdit" required />
        </label>


        <label>Autor(es)*
          <input type="text" [(ngModel)]="modalLivro.autores"
                 name="autores" required />
        </label>

        <label>Editora
          <input type="text" [(ngModel)]="modalLivro.editora"
                 name="editora" />
        </label>

        <label>Categoria
          <input type="text" [(ngModel)]="modalLivro.categoria"
                 name="categoria" placeholder="ex.: drama, fiction" />
        </label>

        <label>Data publicação*
          <input type="date" [(ngModel)]="modalLivro.data_publicacao"
                 name="data_publicacao" required />
        </label>

        <label>Páginas
          <input type="number" [(ngModel)]="modalLivro.numeroPaginas"
                 name="numeroPaginas" min="1" />
        </label>

        <label>Quantidade
          <input type="number" [(ngModel)]="modalLivro.qtde_livros"
                 name="qtde_livros" min="1" />
        </label>

        <label>Disponibilidade
          <select [(ngModel)]="modalLivro.disponibilidade"
                  name="disponibilidade">
            <option [ngValue]="true">Disponível</option>
            <option [ngValue]="false">Indisponível</option>
          </select>
        </label>

        <label>Capa (URL)
          <input type="text" [(ngModel)]="modalLivro.capa"
                 name="capa" />
        </label>

        <label class="stretch">Descrição
          <textarea rows="3" [(ngModel)]="modalLivro.descricao"
                    name="descricao"></textarea>
        </label>


      </div>

      <div class="modal-actions">
        <button type="button" class="ghost" (click)="closeEdit()">Cancelar</button>
        <button class="primary" [disabled]="!editForm.valid"
                (click)="confirmEdit()">Atualizar</button>
      </div>
    </form>
  </div>
</div>

<div class="modal-overlay" *ngIf="showDeleteModal">
  <div class="modal small" style="text-align: center">
    <h3>Excluir Livro</h3>
    <p>Tem certeza de que deseja excluir<br><strong>{{ modalLivro.titulo }}</strong>?</p>

    <div class="modal-actions center">
      <button class="ghost"  (click)="closeDelete()">Cancelar</button>
      <button class="danger" (click)="confirmDelete()">Excluir</button>
    </div>
  </div>
</div>

<div class="modal-overlay" *ngIf="showBanirModal">
  <div class="modal small">
    <h3>Banir Usuário</h3>
    <p>Tem certeza que deseja banir o usuário<br>
      <strong>{{ usuarioParaBanir.name || usuarioParaBanir.email }}</strong>?
    </p>

    <div class="modal-actions center">
      <button class="ghost" (click)="closeBanirModal()">Cancelar</button>
      <button class="danger" (click)="confirmarBanimento()">Banir</button>
    </div>
  </div>
</div>
