<div class="dashboard-container">
  <app-sidebar></app-sidebar>

  <div class="main-content">
    <app-header></app-header>

    <div class="bookshelf-container">
      <div class="shelf-section" *ngFor="let shelf of shelves">
        <div class="book-row">
          <div class="book"
               *ngFor="let book of shelf.books"
               [routerLink]="['/livro', book.id_livro]"
               [queryParams]="{estante: 'emprestado'}">
            <img [src]="book.capa" [alt]="book.titulo" />
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
